<h2>{{ isEdit ? 'Termin bearbeiten' : 'Neue Buchung' }}</h2>

<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <label>Titel*</label><br />
    <input formControlName="title" />
  </div>

  <div>
    <label>Datum*</label><br />
    <input type="date" formControlName="date" />
  </div>

  <div>
    <label>Zeit</label><br />
    <input type="time" formControlName="time" />
  </div>

  <div>
    <label>Person (gebucht für)</label><br />
    <input formControlName="personName" />
  </div>

  <div>
    <label>Mit wem</label><br />
    <input formControlName="withWhom" />
  </div>

  <div>
    <label>Zweck / Beschreibung</label><br />
    <textarea formControlName="purpose"></textarea>
  </div>

  <div>
    <label>Kontakt-E-Mail</label><br />
    <input formControlName="email" type="email" />
  </div>

  <div>
    <label>Dauer (Min)</label><br />
    <input type="number" formControlName="duration" />
  </div>

  <div style="margin-top:10px;">
    <button type="submit" [disabled]="form.invalid">{{ isEdit ? 'Speichern' : 'Anlegen' }}</button>
    <button type="button" (click)="cancel()">Abbrechen</button>
  </div>
</form>
